h1 = @task.title
p = @task.description
p = @task.state
p = @task.milestone_name
p = @task.assigned_user_name

h2 Comment

= simple_form_for(@comment, :url => project_task_comments_path(current_project, @task)) do |f|
  = f.input :body, :label => 'Comment'
  = f.button :submit, :value => 'Submit'
