<h1>Dashboards#index</h1>

<h2>Projects</h2>

<ul>
  <% Project.for_user(current_user.id).each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
</ul>

<h2>Activities</h2>

<h2>Issues</h2>

<ul>
  <li>Assigned to you</li>
  <li>Created by you</li>
</ul>